{% extends 'base.html' %} {% block title %}Caregivers Table{% endblock %} {% block
content %}

<!-- Search Component -->
<div class="mb-3">
  <form class="form-inline" method="GET" action="/search_caregivers">
    <div class="form-group mr-2">
      <label for="attribute" ><h3>Seacrh Caregivers by</h3> </label>
    </div>
    <div class="form-group mr-2">
      <select class="form-control" name="attribute">
        <option value="caregiver_user_id">User ID</option>
        <option value="gender">Gender</option>
        <option value="caregiving_type">Caregiving type</option>
        <option value="hourly_rate">Caregiver hourly-rate</option>
      </select>
    </div>
    <div class="form-group mr-2">
      <input type="text" class="form-control" name="value" placeholder="Enter value">
    </div>
    <button type="submit" class="btn btn-primary">Find</button> 
  </form>
</div>

<div class="h-200 p-4 text-white bg-primary border rounded-3">
  <h2>
    Caregivers List
  </h2>
</div>

<div class="table-responsive">
  <table class="table table-hover table-white" id="#caregiverTable">
    <thead>
      <tr class="text-center" >
        <th scope="col" >Caregiver ID</th>
        <th scope="col" style=" vertical-align: middle;">Photo</th>
        <th scope="col" >Gender</th>
        <th scope="col" style=" vertical-align: middle;">Caregiving type</th>
        <th scope="col" style=" vertical-align: middle;">Hourly rate</th>
        <th scope="col" style=" vertical-align: middle;">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for caregiver in caregivers %}
      <tr class="text-center">
        <td>{{caregiver.caregiver_user_id }}</td>
        <td>{{caregiver.photo}}</td>
        <td>{{caregiver.gender}}</td>
        <td>{{caregiver.caregiving_type}}</td>
        <td>{{caregiver.hourly_rate}}</td>
        <td>
          <div class="d-flex justify-content-between">
            <a href="/edit_caregiver/{{caregiver.caregiver_user_id}}" class="btn btn-sm btn-info mr-2"
              data-toggle="modal" data-target="#editCaregiverModal{{caregiver.caregiver_user_id}}">Edit</a>
            <a href="/delete_caregiver/{{caregiver.caregiver_user_id}}" class="btn btn-sm btn-danger"
              onclick="return confirm('Are you sure?')">Delete</a>
          </div>
        </td>
      </tr>

      <!-- Edit Caregiver Modal -->
      <div class="modal fade" id="editCaregiverModal{{caregiver.caregiver_user_id}}" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Caregiver</h5>
            </div>
            <div class="modal-body">
              <form method="post" action="{{ url_for('edit_caregiver', caregiver_user_id=caregiver.caregiver_user_id) }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.photo.label }} {{ form.photo(class="form-control", value = caregiver.photo) }}
                </div>
                <div class="form-group">
                  {{ form.gender.label }} {{ form.gender(class="form-control", value = caregiver.gender) }}
                </div>
                <div class="form-group">
                  {{ form.caregiving_type.label }} {{ form.caregiving_type(class="form-control", value = caregiver.caregiving_type) }}
                </div>
                <div class="form-group">
                  {{ form.hourly_rate.label }} {{ form.hourly_rate(class="form-control" , value = caregiver.hourly_rate) }}
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}